Discord Expense Tracker.json
{
  "name": "Discord Expense Tracker",
  "nodes": [
    {
      "parameters": {
        "guildIds": [
          "1434379973103325336"
        ],
        "channelIds": [
          "1434379973808099481"
        ],
        "pattern": "every",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        176
      ],
      "id": "39e2734e-36cb-4992-b63a-f23c9b9358ab",
      "name": "Discord Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "4y8SIoqjWDy0Qham",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DKWByFyTeOnVNWSRw9S4G0nhPO0jUlOLyn9ya3id9OE",
          "mode": "list",
          "cachedResultName": "Personal Expense Tracker (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DKWByFyTeOnVNWSRw9S4G0nhPO0jUlOLyn9ya3id9OE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1540601383,
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DKWByFyTeOnVNWSRw9S4G0nhPO0jUlOLyn9ya3id9OE/edit#gid=1540601383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.output.timestamp }}",
            "Label": "={{ $json.output.label }}",
            "Amount": "={{ $json.output.amount }}",
            "Description": "={{ $json.output.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Label",
              "displayName": "Label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        80
      ],
      "id": "3aa46805-6b7c-4110-b7d7-fff6d7f9bb3d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kcZqpHioRElkg4FJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the following details from the message and output only valid JSON with no explanations.\n\nMessage:\n{{ $json.readable_timestamp }}\n{{ $json.content }}\n\nFields to extract:\n- Label (name of the expense)\n- Amount (number in PHP)\n- Description (short reason or category)\n- Timestamp (if provided, otherwise use today's date)\n\noutput format (STRICTLY FOLLOW):\n{\n  \"timestamp\": \"string\",\n  \"label\": \"string\",\n  \"amount\": \"integer\",\n  \"description\": \"string\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -288,
        176
      ],
      "id": "c81a8f48-aaea-410c-8a46-3982cd30c068",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        400
      ],
      "id": "62614130-74d9-4b38-a1c9-cccce0ec688e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DpFSCNyrLei9W3jl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1434379973103325336",
          "mode": "list",
          "cachedResultName": "Personal Expenses",
          "cachedResultUrl": "https://discord.com/channels/1434379973103325336"
        },
        "channelId": {
          "__rl": true,
          "value": "1434379973808099481",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1434379973103325336/1434379973808099481"
        },
        "content": "=Error parsing message to valid JSON:  {{ $json.error }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        64,
        272
      ],
      "id": "c7f891f0-4cbd-4ec7-8c9e-e9b4e8f8698e",
      "name": "Send JSON parsing error message",
      "webhookId": "9de9a446-4d87-4249-8b7f-a89dd5a7a2b7",
      "credentials": {
        "discordBotApi": {
          "id": "FHaEPfrVeT8xhOsu",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1434379973103325336",
          "mode": "list",
          "cachedResultName": "Personal Expenses",
          "cachedResultUrl": "https://discord.com/channels/1434379973103325336"
        },
        "channelId": {
          "__rl": true,
          "value": "1434379973808099481",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1434379973103325336/1434379973808099481"
        },
        "content": "=Expense recorded!\n{{ $('AI Agent').item.json.output.timestamp }}\n\n{{ $('AI Agent').item.json.output.label }} - PhP {{ $('AI Agent').item.json.output.amount.toFixed(2) }}\n{{ $('AI Agent').item.json.output.description }}\n\nExpenses sheet: https://docs.google.com/spreadsheets/d/1DKWByFyTeOnVNWSRw9S4G0nhPO0jUlOLyn9ya3id9OE/edit?usp=sharing",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        288,
        80
      ],
      "id": "b8b313b5-14dc-413a-a06b-40b9fee4a86d",
      "name": "Send expense summary message",
      "webhookId": "9de9a446-4d87-4249-8b7f-a89dd5a7a2b7",
      "credentials": {
        "discordBotApi": {
          "id": "FHaEPfrVeT8xhOsu",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const discordEpoch = 1420070400000;\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const snowflake = item.json.id || item.json.message_id || item.json.data?.id;\n  \n  const ts = (BigInt(snowflake) >> 22n) + BigInt(discordEpoch);\n  item.json.readable_timestamp = new Date(Number(ts)).toLocaleString(\"en-PH\");\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        176
      ],
      "id": "83bcbb8e-5cf4-4319-a66a-013c3eb92290",
      "name": "Parse discord timestamp"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"timestamp\": \"11/2/2025, 9:25:37 AM\",\n  \"label\": \"meal\",\n  \"amount\": 60,\n  \"description\": \"dinner\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -128,
        400
      ],
      "id": "d9eab22d-32c2-47a9-aa80-84422ee08fa6",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "Parse discord timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send JSON parsing error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send expense summary message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse discord timestamp": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1feba8ee-1fc4-4683-8da0-5620630f36f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab70ab43e91b376d1e90acad0917001f397080702f4f1c95640019c038f5e049"
  },
  "id": "1oc5Ko5j3TmyYv5d",
  "tags": []
}